                <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <div align="center">
                    <hr>
                    <h4 style="line-height=110%;">The Github Link for the App <a href="http://www.github.com/utkarsh-raj/football-app">Here</a></h4>
                    <!--<div class="blockquote-footer">Created by Utkarsh Raj Singh</div>-->
                </div>
            </div>
        </div>
    </body>
</html>