<% include partials/header %>
<h1>Seems that no match is being played now!</h1>
<hr>
<ul class="list-unstyled">
    <li><a href="/"> Click here to go back! </a></li>
    <li><a href="/standing">Click here to see The Tournament Standing</li>
</ul>
<% include partials/footer %>